@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/Work Sans Bold.woff2') format('woff2'), url('../fonts/Work Sans Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/Work Sans Light.woff2') format('woff2'), url('../fonts/Work Sans Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/Work Sans Medium.woff2') format('woff2'), url('../fonts/Work Sans Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/Work Sans Regular.woff2') format('woff2'), url('../fonts/Work Sans Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'), url('../fonts/ubuntu-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-light-webfont.woff2') format('woff2'), url('../fonts/ubuntu-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'), url('../fonts/ubuntu-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'), url('../fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
