$main-color: #116acc;
$main-background-color: #f3f4f6;
$main-border-color: #9ca3af;
$table-border-color: #0052ff1a;
$placeholder-color: #6b7280;
$white-color: #fff;
$error-color: #eb5757;
$black-color: #000;
$gray-color: #374151;
$sky-color: #a0c3ff;
$background-color: #e5e5e5;
$active-button-color: #2518c4;
